a, a:link, a:visited, a:active {
	//color: #8B4513; 
	color:orange;
}

body {
	background: #1c1c1c url("img/type.png");
	color: whiteSmoke;
	width: 85%;
	margin: 0 auto;
}

h1 {
	color: #fff;
}

#mainnav a, #uotd a, #news a, #thread a{
    color:#8B4513;
}

ul.my_contacts{
margin:60px 0px 120px 0px;
list-style:none;
padding:0;
}

ul.my_contacts li{
padding-top:5px;
}

td.postbody {
    background: whiteSmoke;
    color: black;
    padding-left: 30px;
    border: 1px solid black;
}

hr {
	border-top: 2px solid #e8e8e8;
}

table {
margin-bottom:10px;
border-spacing: 10px;
}

td {
text-align:left;
}

td.bordered {
	border-color: gray;
}

td.indent {
	border-color: #fff;
}

td.heading{
}

td.fieldname {

}

td.fieldname_error,
td.fieldvalue_error  {
	
}


input[type="button"],
input[type="submit"],
.btn,
a.button {
	background: #f2f2f2;
	color: black;
	border-color: #ccc;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input.btn:hover, 
.button:hover ,
.forum_toplinks a:hover {
	border: 1px solid #555;
	color: #0069A1;
}

input[type="text"], select, textarea {
	border-color: #d8d8d8;
}

#mainnav{
background: whiteSmoke;
padding: 20px; 
border:1px solid #000;
color:#000;
text-align:left;
}
#news{
border: 1px solid #000;
padding: 20px;
margin: 10px;
background:gainsboro;
color:#000;
min-width: 300px;
}

#news h3 {
	color: #666;
	
}

td.fieldvalue{
text-align:left;
}
#uotd {
border: 1px solid #000;
padding: 20px;
margin: 10px;
background:#CDC0B0;
color:#000;

}
#news p span.news_content{
padding-bottom:5px;
display:block;
}

.idstu{
padding:20px;
width:90%;
margin:0 auto;
color:whiteSmoke
}

td.category , tr.subtitle{
height:50px;
}

td.postheader { 
/*	background-color: #eee;*/
}

td.postbody { 
/*	background: transparent url('img/75pct_white.png');*/
}

td.postfooter {
/*	background-color: #eee;*/
}

tr.postseperator {
	background-color: #c8c8c8;
	border-color: #aaa;
}

div.authorcol {
	/*background-color: white;
	border-color: #c8c8c8;*/
}

.authorinfo img {
	border-color: #666;
}

blockquote.postbody {
	border-left-color: #666;
	color:#666;
	/*background-color: #f5fffa;*/
	
}

span.news_date {
	color: #646464;
}

span.highlight {
	background-color: #ffc;
}

.code {
	border-left-color: #caa;
}

.error {
	color: #f00;
}

.notice {
	color: #090;
}

#preview {
	border-color: #ccc;
	background-color: #eee;
}

#preview .header {
	border-bottom-color:  #ccc;
}

/*   Server Status Page   */
td.running{
color:#2EFE2E;
text-align:left;
}

tr.top_space{
    height:40px;
    padding-top:25px;
}